.photo-gallery__button_action_trash {
  width: 18px;
  height: 19px;
  background-image: url(../../../../images/ui/trash.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  border: 0;
  padding: 0;
  transition: .3s linear;
  position: absolute;
  right: 0;
  top: 20px;
  margin-right: 15px;
}

.photo-gallery__button_action_trash:hover {
  opacity: 0.6;
}